html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  height:100%;
}

.create-elements {
    margin-top: 15rem;
    margin-bottom : 15rem;
}

.card-header-custom {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
/*    border-bottom: 1px solid rgba(0, 0, 0, 0.125);*/
}

.create-card-left {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.vertical-center {
    align-items:center;
    justify-content:center;
}

.iphone-frame {
    background-image: url(../images/iphonewallpaper1.png);
    background-repeat: no-repeat;
    background-position:50%;
    height: 600px;
    transition: background-image 1s; 
}

.form-control-custom {
    display: block;
    width: 100%;
    height: 95%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: none;
    outline:none;
}

.dp-thumbnail {
    width:30px;
    border-radius:40%;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 23px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }
.navbar-text {
    color: black;
}

.post-image {
    width:468px;
    height:468px;
}

.explore-image-container {
    height:400px
}

.explore-image {
    width:100%;
    height:100%;
    transition:all 0.5s;
}

.explore-image-container:hover .explore-image {
    opacity: 0.5;
}

.details-container{
    max-width:75vh;
}

.details-image-container {
    width:55%;
}

.details-image {
    width: 100%;
    height:100%;
}

.text-block {
    margin-top:auto;
    margin-bottom:auto;
    margin-right:auto;
    padding:15px 0px 0px 3px;
}

.details-header {
    border-bottom: 1px solid gray;
    margin-top: auto;
    margin-bottom: auto;
    padding: 15px 0px 15px 3px;
}

.details-body {
    border-bottom:1px solid gray;
    height:45vh;
}

.heart-icon-container {
    width: 80px;
    margin-bottom:5px;
}

.heart-icon {
    fill: white;
    stroke: black;
    transition: fill 0.3s ease;
}

.heart-icon-container:hover .heart-icon {
    fill: red;
    stroke: red;
}